* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  /* position: absolute; */
  display: block;
  unicode-bidi: isolate;
  direction: ltr;
  
}
/* .logo img{
    padding-top: 0px;
    width: 190px;
} */
.container{
    width: 100%;
    min-height: 100vh;
    background: #0f0f0f;
    position: relative;
}

.bg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  overflow: hidden;
}
.bg-img {
  position: absolute;
  background: url(./assets/images/hero-bg.jpg) 50% center / cover no-repeat;
  width: 100%;
  height: 102.5rem;
  transition: background-image 0.2s ease-in-out;
  filter: blur(16px);
  opacity: 0.16;
  mask-image: linear-gradient(
    rgb(217, 217, 217) 78.62%,
    rgba(115, 115, 115, 0) 100%
  );
}
.overlay-1 {
  position: absolute;
  opacity: 75%;
  background: radial-gradient(
    92.16% 100% at 49.87% 0%,
    rgba(247, 99, 107, 0.3) 19.86%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 75rem;
  width: 100%;
}
.overlay-2 {
  opacity: 75%;
  background: radial-gradient(
    50% 100% at 50% 0%,
    rgba(44, 66, 156, 0.15) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  height: 75rem;
  width: 100%;
}
.elements{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.navbar-container{
position: relative;
width: 100%;
}
.navbar-ch-1{
    width: 100%;
    position: fixed;
}
.navbar-ch-2{
    z-index: 4;
    width: 100%;
    position: fixed;
}
.navbar-ch-3{
    /* height: 130px; */
    z-index: 2;
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%); 
    
}
.navbar-ch-4{
    width: 100%;
    max-width: 120rem;
    height: 7.5rem;
    margin: 0 auto -7.5rem auto;
    z-index: 3;
    padding: 0 3rem;
}
.navbar-ch-5{
    height: 5.5rem;
    width: 100%;
    display: inherit;
}
/* .bg-container{
    background-image: url(./assets/images/hero-bg.jpg);
    width: 100vw;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: blur(16px);
    transition: background-image 0.2s ease-in-out;
}  */
.overlay {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: rgba(60, 19, 32, 0.5); */
  /* backdrop-filter: blur(30px); */
  /* filter: blur(16px); */
  /* z-index: 1; */
  /* background-image: linear-gradient(to top, black, transparent); */
  /* position: absolute; */
  /* width: 100%;
    opacity: 0.16;
    mask-image: linear-gradient(rgb(217, 217, 217) 78.62%, rgba(115, 115, 115, 0) 100%); */
  /* opacity: 75%;
  background: radial-gradient(
    92.16% 100% at 49.87% 0%,
    rgba(247, 99, 107, 0.3) 19.86%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 75rem;
  width: 100%; */
}
.nav {
  z-index: 2;
  display: flex;
  /* flex-direction: column; */
  /* width: 99vw; */
  /* margin: auto; */
  justify-content: space-between;
}
.nav-top {
  position: relative;
  z-index: 2;
  /* margin: auto; */
  display: flex;
  padding: 5px 30px px 30px;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
.nav-bottom {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 15px 0px;
  width: 450px;
  height: 15px;
  gap: 23px;
  /* border: 1px solid white; */
  border-radius: 50px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #100a0b;
}
.button {
  width: 75px;
  height: 35px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 25px;

}

/* .hero-section{
    position: absolute;
    z-index: 2;
    justify-content: center;
}
.hero-section img{
    margin: auto;
    margin: 30px 30px;
    width: 90%;
} */

.hero-section {
  background-color: white;
  position: relative;
  z-index: 2;
  /* top: 150px; */
  top: 40%;
  left: 50%;
  width: 190vh;
  height: 70vh;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.hero-section img {
  /* background-color: white; */
  /* transform: translate(-50%, -50%);  */
  /* position: absolute; */
  width: 300px;
  height: 400px;
  object-fit: cover;
}
